body {
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #ffffff;
    margin: 20px 20px 0px 20px;
}

h1 {
    font-size: 42px;
    text-align: center;
    padding: 15px;
}

h2 {
    font-size: 30px;
    color: #0D0D0D;
}

p {
    font-size: 24px;
    padding: 10px 0px 0px 10px;
}

img {
    width: 250px;
    display: block;
    margin: auto;
    /* display: flex;
    justify-content: center; */
    border: #ffffff, dashed, 10px;
}

div {
    min-height: 125px;
    padding: 20px;
    border: #ffffff, solid, 3px;
}

.introduction {
    border-radius: 15px;
    margin: 15px 0px 0px 0px;
    line-height: 2;
}

.red {
    background-color: #ff0000;
    text-align: right;
    margin: 0px 0px 0px 50px;
    border-style: solid;
    border-width: 0px 0px 2px 5px;
}

.blue {
    background-color: #0000ff;
    text-align: left;
    margin: 0px 50px 0px 0px;
    border-style: solid;
    border-width: 2px 5px 0px 0px;
}

.blue > h2 {
    color: #ffffff;
}

